<div class="header">
  <div class="top-meny">
    <ul>
      <li><a href="#">Доставка і оплата</a></li>
      <li><a href="#">Бренди</a></li>
      <li><a href="#">Контакти</a></li>
      <li><a href="#">Акції</a></li>
    </ul>
  </div>
  <div class="header-main">
    <div class="logo"><a href="#">I WANT MARKET</a></div>
    <div class="search-header">
      <input type="text">
      <p>Наприклад ...</p>
    </div>
    <div class="contact-header"></div>
    <div class="bag-header"></div>
  </div>
  <nav>
    <app-nav-header></app-nav-header>
  </nav>
</div>


