
.header-main{
    padding: 10px;
    height: 45px;
    background-color: black;
    display: flex;
    justify-content: space-between;
    color: cornsilk;
}
nav{
    height: 60px;
    background-color: black; 
 }
 .top-meny ul{
    display: flex;
    padding: 7px;
 }
 .top-meny > ul > li{
     margin-right: 10px;
 }
 .logo > a{
     font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
     font-size: 24px;
 }
 .contact-header-top{
     display: flex;
     justify-content: space-between;
 }