<div class="header">
  <div class="top-meny">
    <ul>
      <li><a href="#">Доставка і оплата</a></li>
      <li><a href="#">Бренди</a></li>
      <li><a href="#">Контакти</a></li>
      <li><a href="#">Акції</a></li>
    </ul>
    <div class="singUp">
      <p>Увійти</p>
      <p>Реєстрація</p>
    </div>
  </div>

  <div class="header-main">
    <div class="logo"><a href="#">I WANT MARKET</a></div>
    <div class="search-header">
      <input type="text">
      <p>Наприклад ...</p>
    </div>
    <div class="contact-header">
      <div class="contact-header-top">
        <div class="contact-box">
          <p>247-32-23</p>
          <p>746-64-21</p>
        </div>
        <div class="contact-box">
          <p>453-53-43</p>
          <p>758-32-92</p>
        </div>
      </div>
      <div class="contact-header-bottom">
        <a href="#">Замовити консультацію менеджера</a>
      </div>
    </div>
    <div class="bag-header">
      <a href="#">Корзина</a>
      <p>Вміст корзини</p>
    </div>
  </div>

  <nav>
    <app-nav-header></app-nav-header>
  </nav>
</div>


