
.header-main{
    padding: 10px;
    height: 70px;
    background-color: #dbdbdb;
    display: flex;
    justify-content: space-between;
    color: rgb(12, 6, 73);
}
.top-meny{
    display: flex;
    background-color: #dbdbdb;
    justify-content: space-between;
    
}
 .top-meny ul{
    display: flex;
    padding: 7px;
    background-color: #dbdbdb;
 }
 .top-meny > ul > li{
     margin-right: 10px;
 }
 .logo > a{
    font-family: 'Black Han Sans', sans-serif;
    font-size: 24px;
 }
 .contact-header-top{
     display: flex;
     justify-content: space-between;
 }
 nav{
    height: 60px;
    margin-top: 10px;
 }
 .singUp{
     display: flex;
     padding: 7px;
 }
 .singUp > p{
     margin-left: 10px;
     
 }