<div class="nav-main">
    <div class="nav-button" routerLink = "/secondMain">техніка</div>
    <div class="nav-button" routerLink = "/secondMain">комплектуючі</div>
    <div class="nav-button" routerLink = "/secondMain">інструменти</div>
    <div class="nav-button" routerLink = "/secondMain">матеріали</div>
    <div class="nav-button" routerLink = "/secondMain">послуги</div>
    <div class="nav-button" routerLink = "/secondMain">розхідні матеріали</div>
    <div class="nav-button" routerLink = "/secondMain">Акції</div>
</div>
