<div class="nav-main">
    <div class="nav-button" [routerLink] = "['secondMain', 'technica']">техніка</div>
    <div class="nav-button" [routerLink] = "['secondMain', 'instrumenty']">комплектуючі</div>
    <div class="nav-button" [routerLink] = "['secondMain', 'accessories']">інструменти</div>
    <div class="nav-button" [routerLink] = "['secondMain', 'materials']">матеріали</div>
    <div class="nav-button" [routerLink] = "['secondMain', 'services']">послуги</div>
    <div class="nav-button" routerLink = "/secondMain">розхідні матеріали</div>
    <div class="nav-button" routerLink = "/secondMain">Акції</div>
</div>
