.nav-main{
    display: flex;
    justify-content: space-around;
}
.nav-button{
    width: 120px;
    height: 50px;
    color: rgb(34, 7, 59);
}
.nav-button:hover{
    background-color: yellow;
    transition: 0.7s;
    color: black;
}