<div class="nav-main">
    <div class="nav-button" [routerLink] = "['secondMain', 'computer']">Компютери</div>
    <div class="nav-button" [routerLink] = "['secondMain', 'instrumenty']">Телефони і ТВ</div>
    <div class="nav-button" [routerLink] = "['secondMain', 'accessories']">Побутова техніка</div>
    <div class="nav-button" [routerLink] = "['secondMain', 'materials']">Товари для будинку</div>
    <div class="nav-button" [routerLink] = "['secondMain', 'services']">Інструменти</div>
    <div class="nav-button" routerLink = "/secondMain">Сантехніка</div>
    <div class="nav-button" routerLink = "/secondMain">Акції</div>
</div>
