.nav-main{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.nav-button{
    width: 140px;
    font-weight: 700;
    color: rgb(82, 78, 78);
    text-align: center;
    padding: 10px;
}
.nav-button:hover{
    cursor: pointer;
    transition: 0.3s;
    color: black;
}