.item-box{
    width: 150px;
    height: 200px;
    
    padding: 5px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    
}
.item-box > img{
    height: 100px;
    width: 100px;
    
}
.item-box:hover{
    border: 1px solid;
}
