.item-box{
    width: 150px;
    height: 200px;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    background-color: rgba(218, 209, 209, 0.19)
        
}
.item-box > img{
    height: 100px;
    width: 100px;
    
}
.item-box:hover{
    
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: 0.7s;
}
